/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-image: url("images/background.jpg");
  background-size: 1994.25px 1329.5px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
    padding-top: 10px;
}

h2 {
  padding-top: 10px;
}

/*nav bar*/
.navbar-custom {
  background-color: #A9BA9D;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color:black;
  font-family: 'Merriweather', serif;
}
.navbar-custom .navbar-nav .nav-link {
  color:black;
  font-family: 'Merriweather', serif;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FFFFFF;
    background-color: #835C53;
}

.logo {
  margin: 10px 10px 10px 10px
}
/*end of nav bar*/

/*main*/
.mainphoto {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

main {
margin: 25px 25px 25px 25px;
height: 100%;
background:rgba(255,255,255, 0.7);
line-height: 40px;
}
h2 {
  text-align: center;
  font-family: 'Merriweather', serif;
}
h3 {
  text-align: center;
  font-family: 'Merriweather', serif;
}
p {
  margin: 35px 35px 35px 35px;
  font-family: 'Open Sans', sans-serif;
}
div {
  overflow: hidden;
  margin: auto;
  width: 100%;
}
/*end of main*/

/*Classes CSS*/

.gallerybackground {
  background-image: none;
}

.custom-btn {
  text-align: center;
  background-color:#A9BA9D !important;
}

.flxbxcenter {
  display: flex;
  justify-content: center;
}

.flxbxcenter {
  display: flex;
  justify-content: center;
    padding-top: 10px;
}

.linkcenter {
  text-align: center;
}

.containeralign1 {
  position: relative;
  left: 150px;
  padding: 10px 10px 10px 10px
}

.containeralign2 {
  position: relative;
  left: 10%;
  padding: 10px 10px 10px 10px
}

.porthead {
  text-align: center;
  color: #835C53;
  padding-bottom: 10px;
  font-family: 'Merriweather', serif;
}

/*End of CSS classes*/

/*media queries*/
@media (max-width: 575.98px) {

img {
  display:block;margin:0 auto;
}
}
/*end of queries*/
/*footer*/
footer {
  background-color: #A9BA9D;
  text-align: center;
  line-height: 50px;
  font-family: 'Merriweather', serif;
