/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background: #f5fbff !important;
}

h1 {
  font-family: "Yellowtail", cursive;
  padding-top: 10px;
  text-align: center;
  color: #bb9709;
}

h2 {
  font-family: "Yellowtail", cursive;
  padding-top: 10px;
}

h4 {
  padding-top: 20px;
  text-align: center;
  font-family: "Yellowtail", cursive;
}

/*nav bar*/
.navbar-custom {
  background-color: #343f51;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #bb9709;
  font-family: "Yellowtail", cursive;
  font-size: 25px;
}
.navbar-custom .navbar-nav .nav-link {
  color: #bb9709;
  font-family: "Yellowtail", cursive;
  font-size: 25px;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
  background-color: #343f51;
}

.logo {
  margin: 10px 10px 10px 10px;
  overflow: hidden;
}
/*end of nav bar*/

/*main*/
.mainphoto {
  margin-top: 15px;
}

main {
  margin: 25px 25px 25px 25px;
  height: 100%;
  background: #f5fbff;
  line-height: 40px;
}
h2 {
  text-align: center;
  color: #bb9709;
  font-family: "Yellowtail", cursive;
}
h3 {
  text-align: center;
  font-family: "Benne", serif;
}
p {
  margin: 35px 35px 35px 35px;
  font-family: "Open Sans", sans-serif;
}
div {
  overflow: hidden;
  margin: auto;
  width: 100%;
}
/*end of main*/

/*Classes CSS*/

.gallerybackground {
  background-image: none;
}

.custom-btn {
  background-color: #343f51 !important;
  font-family: "Quicksand", sans-serif;
}

.flxbxcenter {
  display: flex;
  justify-content: center;
}

.flxbxcenter {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.linkcenter {
  text-align: center;
}

.containeralign1 {
  position: relative;
  left: 150px;
  padding: 10px 10px 10px 10px;
}

.containeralign2 {
  position: relative;
  left: 10%;
  padding: 10px 10px 10px 10px;
}

.porthead {
  text-align: center;
  color: #343f51;
  padding-bottom: 10px;
  font-family: "Benne", serif;
}

/*End of CSS classes*/

/*media queries*/
@media (max-width: 575.98px) {
  img {
    display: block;
    margin: 0 auto;
  }
}
/*end of queries*/
/*footer*/
footer {
  background-color: #343f51;
  text-align: center;
  line-height: 50px;
  font-family: "Benne", serif;
  font-size: 20px;
  color: #f0f0f0;
}
/*end of footer*/

/*Links*/

#btnlinks {
  color: #bb9709;
}

a:link {
  color: #bb9709;
  text-decoration: none;
}

a:visited {
  color: #bb9709;
  text-decoration: none;
}

/*Article Pages*/
#imgart {
  float: left;
  margin: 15px 15px 15px 15px;
}
